/* Reset de márgenes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2em 0;
  }
  
  header h1 {
    margin-bottom: 0.2em;
  }
  
  section {
    padding: 1.5em;
    margin: 1.5em auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 0.2em;
    margin-bottom: 0.8em;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin: 0.8em 0;
  }
  
  footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
    margin-top: 2em;
  }
  